@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.shadow {
  box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.62);
-webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.62);
-moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.62);
}
